<div id='sailingbackground'>
  <div>  <%= image_tag 'em.jpg', {:class => "empic"} %></div>
  <div id="hometop">
    <h1> Emily Hoover Anderson </h1>
    <h2 class="mainlinks">

      <%= link_to "Resume", resume_home_path %> |
      <%= link_to "Github", "http://github.com/ehanderson", :target => '_blank'%> |
      <%= link_to "Projects", projects_home_path %>
      <h2>

  </div>
</div>
<div id="homebottom">
  <h1>A little about me...</h1>
    <div class= "border_bottom">
      <h4 class ="headers_about_me">
        I am the girl you want on your team. <br>
        I am a <%= link_to "Dev BootCamp", 'http://devbootcamp.com/', :target => '_blank'%> Graduate. <br>
        I have a passion for web development. </h4>
      <div class="about_me">
        <p> I am industrious by nature, a bit competitive at times, but always a team player. All attributes for a state champion gymnast. My background is in Elementary Education with a Mathematics specialty. I've always enjoyed and encouraged my students to dig into the task at hand. Take things apart, figure out how they work from the ground up so someday we can build a new and better version. </p>

        <p>That is now I look at software development. Let's pick it apart, understand the concept and the goal as a team, and then conquer it. My bread and butter is ruby and rails, but it's pretty hard to dominate that without dabbling in a handful of other languages.</p>

        <p>If you would like more information about me, feel fee to checkout my <%= link_to "resume", resume_home_path %> and recent <%= link_to "projects", projects_home_path %>, or just shoot me an <%= mail_to "anderson.emilyhi@gmail.com", "email" %>.
      </div>
    </div>
       <li><%= link_to "Southeast Asia Blog", posts_path %></li>
 <!--      I spent time in the hostpitality industry as well as sales which makes me exellent in understanding people's needs and how to continuously communicate on point with my co-workers to fulfill the task at hand.  -->  </p>


</div>
