<div >
<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id='errorExplanations'>
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
    <div class="date">
    <%= f.label :date %><br />
    <%= Time.now %>
  </div>
    <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field" id="textarea">
    <%= f.label :content %><br />
    <div id="larger_font"><%= f.text_area :content %></div>
  </div>
  <div class="actions">
    <%= f.submit "Post"%>
  </div>
<% end %>

</div>
